/* Style for the file drop zone */
.file-drop-zone {
  border: dashed 3px #5D93E1; /* Softer blue border */
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #4c4996; /* Updated background color */
  color: #ffffff; /* Adjust text color for better readability */
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

/* Hover effect for the drop zone */
.file-drop-zone:hover {
  border-color: #3C7DD9; /* Slightly darker blue on hover */
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25); /* More pronounced shadow on hover */
}

/* Style for individual file items */
.file-item {
  display: flex; /* Changed to flex for better alignment */
  align-items: center; /* Vertically align items in the flex container */
  justify-content: space-between; /* Space between the file name and the delete button */
  background-color: #161266; /* Updated background color for the file item */
  color: #ffffff; /* White text color for better readability */
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* ... other styles ... */
.file-item button:hover {
  background-color: #bd2130; /* A darker shade for hover state */
}

.file-item button {
  background-color: #dc3545; /* Bootstrap's danger color for a delete button */
  color: white;
  border: none;
  border-radius: 50%; /* Makes the button circular */
  padding: 5px 10px; /* Adjust padding to your liking */
  margin-left: 10px; /* Ensure some space from the file name */
  cursor: pointer;
  display: flex; /* Use flexbox for centering content inside the button */
  justify-content: center;
  align-items: center;
}